.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.55);
  white-space: nowrap;
  overflow-x: auto;
  text-align: center;

  > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    position: relative;
    display: inline-block;
    background-color: #2d2d2d;
    color:whitesmoke;
    border: 1px solid #1b1b1b;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.5);
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
    min-width: 300px;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    *, *:before, *:after {
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }

    > :first-child {
      min-height: 54px;
      background-color: #fff;
      border-bottom: 1px solid #1b1b1b;
      padding: 16px 56px 16px 24px;

      > h4 {
        font-weight: 700;
        
        color: #222;
        letter-spacing: -0.02em;
        font-size: 18px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
      }

      > span {
        position: absolute;
        top: 14px;
        right: 24px;
        padding: 0;
        margin: 0;
        font-size: 25px;
        font-weight: 100;
        color: #999;
        cursor: pointer;
      }
    }

    > :last-child {
      > :first-child {
        position: relative;
        padding: 0;
        padding: 18px 24px 14px 24px;

        > div {
          margin-bottom: 12px;

          > input {
            display: block;
            width: 100%;
          }

          label {
            color: #000;
            font-size: 15px;
            display: block;
            padding-bottom: 5px;
          }
    
          input {            
            padding: 5px 8px;
            border: 1px solid #CCCCCC;
            font-size: 15px;
          }

          > div {
            font-size: 13px;
            color: #555;

            > input {
              display: inline-block;
              width: 49%;
            }

            > :first-child{
              margin-right: 2%;
            }
          }
        }
      }
      
      > :not(:first-child) {
        min-height: 56px;
        margin-top: 0;
        text-align: right;
        background-color: #3d3d3d;
        padding: 12px 24px;

        button + button {
          margin-left: 7px;
        }
      }
    }    
  }
}

.modal:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.inline {
  display: inline-block;
  width: auto;
}