@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";


.modal3 {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal3 button {
  cursor: pointer;
}

//인터록 정보 보기
.modal3 > section {
  width: 80%;
  // max-width: 800px;
  height: auto;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: rgba(40, 40, 60, 0.7);
  border:2px solid #284671;
  color: whitesmoke;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal3 > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #00244B;
  font-weight: 700;
  color: whitesmoke;
}
.modal3 > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
  border: none;
}
.modal3 > section > main {
  // padding: 40px 16px 40px 16px;
  margin-right: -4px;
  // border-bottom: 1px solid #dee2e6;
  // border-top: 1px solid #dee2e6;
}
.modal3 > section > footer {
  padding: 20px 16px;
  text-align: right;
}
.modal3.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
// @keyframes modal-show {
//   from {
//     opacity: 0;
//     margin-top: -50px;
//   }
//   to {
//     opacity: 1;
//     margin-top: 0;
//   }
// }
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@import "../../Styles/variavles";
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";
.ag-theme-alpine7 {
  height: 75vh;
  width: 99%;
  // border: 2px solid #1b1b1b;
  background-color: rgba(0, 0, 0, 0.1);
  @include ag-theme-alpine(
  );
  .ag-header{
    background-color: #00244B;
  }
  
  .ag-header-cell {
    // border: 0px solid red;
    
    background: rgba(0, 10, 50, 0.8);
    color: whitesmoke;
    transition: 0.3s;
  }
  .ag-header-cell-text {
    font-size: 20px;
    font-weight: 800;
  }
  .ag-header-cell:hover {
    background-color: whitesmoke;
    color: #1b1b1b;
    border: 0px solid red;
  }
  .ag-header-cell-label {
    
    justify-content: center;
  }
  .ag-row{
    // border-left: 1px solid whitesmoke;
    transition: 0.4s;
    background-color: rgba(0,0,0,0.1);
    border:0;
    color: whitesmoke;
  }
  div[class*='ag-row-selected']{
    background-color: whitesmoke ;
    color: #1b1b1b;
  }
  .ag-row:hover{
    background-color: #c1c1c1;
    color: #1b1b1b;
  }
  div[class*="ag-root-wrapper ag-ltr ag-layout-normal"]{
    border:0px solid;
    border-color: rgba(0, 0, 0, 0);
  }


  div[class*="ag-header ag-pivot-off"]{
    border:0px solid #000F37;
    
  }

  

  .ag-cell {
    
    // border-left: 1px solid whitesmoke; 
    // border-right: 1px solid whitesmoke !important;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    transition: 0.4s;
  }

  .ag-center-cols-viewport .ag-center-cols-clipper{
    border: 0;
  }


  .ag-center-cols-viewport::-webkit-scrollbar {
    display:none;
    
  }
  
  div[class*='ag-root-wrapper'] 
  div[class*='ag-ltr'] 
  div[class*='ag-layout-normal'] 
  {
  background-color: rgba(0, 0, 0, 0);
  }
}

