$black01: rgb(12, 19, 33);
$softBlue: rgb(61, 121, 198);
$softGreen: rgb(7, 228, 194);
$softYellow: rgb(246, 191, 10);
$softPurple: rgb(140, 83, 172);

$gray005: rgb(24, 31, 44);
$gray01: rgb(38, 43, 55);
$gray015: rgb(56, 60, 68);
$gray02: rgb(66, 70, 78);

$fontGray: rgb(220, 220, 220);
