// @font-face {
//   font-family: 'TheJamsil5Bold';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'TmonMonsori';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'NanumSquareNeo-Variable';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'GangwonEduPowerExtraBoldA';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'GongGothicMedium';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'SEBANG_Gothic_Bold';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'MaplestoryOTFBold';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'NanumBarunGothic';
//   font-style: normal;
//   font-weight: 700;
//   src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
//   src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
//  }

//  @font-face {
//   font-family: 'SDSamliphopangche_Outline';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }


.container {
  font-family: "NanumSquareRound";
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  // padding-top: 2px;
  border-top: 2px solid black;
  // background-color: #1b1b1b;
  .main {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    button[class*='btn'] {
      width: 135px;;
      margin-right: 20px;
      height: 47px;
      font-weight: 800;
      color: whitesmoke;
      cursor: pointer;
      border: 1px solid black;
      background-color: #40475c; 
      border-radius: 4px;
      box-shadow: 3px 3px 3px black;
      transition-duration: 0.4s;
      font-size: 15pt;  
    }
    button[class*='btn']:active {
      box-shadow: none;
    }
    button[class*='btn']:hover {
      background-color: #969696;
      color: #2e2e2e;
    }

    // div[class*='topContainer'] div[class*='upperDiv'] {
    //   button[class*='searchBtn']{
    //     display: none;
    //   }
    //   button[class*='updateBtn']{
    //     display: none;
    //   }
    //   button[class*='insertBtn']{
    //     display: none;
    //   }
    //   button[class*='deleteBtn']{
    //     display: none;
    //   }
    // }
  }

  .searchBtnMain {
    // display: none;
    div[class*='topContainer'] div[class*='upperDiv'] button[class*='searchBtn'] {
      display: none;
    }
  }
  .updateBtnMain {
    // display: none;
    div[class*='topContainer'] div[class*='upperDiv'] button[class*='updateBtn']{
      display: none;
    }
  }
  .insertBtnMain {
    // display: none;
    div[class*='topContainer'] div[class*='upperDiv'] button[class*='insertBtn']{
      display: none;
    }
  }
  .deleteBtnMain {
    // display: none;
    div[class*='topContainer'] div[class*='upperDiv'] button[class*='deleteBtn']{
        display: none;
    }
  }
  .errorListBox {
    position: absolute;
    left: 530px;
    top: 25px;
  }
  .err {
    position: absolute;
    width: 600px;
    height: 440px;
  }
  
  nav{
    background-color: #1b1b1b;
    color: whitesmoke;
    div[class*='MuiListSubheader-root']{
      background-color: #3c3c3c;
      color: whitesmoke;
      display: flex;
      align-items: center;
    }
    div[class*='MuiListItemIcon-root ']{
      color: whitesmoke;
      min-width: 30px;
    }
    div[class*='Mui-selected']{
      background-color: rgba(25, 118, 210, 0.48);
    }
    div[class*='MuiButtonBase-root']:hover{
      background-color: #4f4f4f;
    }
  }

}

.container {
  background-repeat : none;
  background-size: 100%;
  background-position: "15% 36%";
}
