.container {
  width: 100%;
  height: 100%;
  .total {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    .search {
      display: flex;
      padding: 10px 0px;
      height: 90px;
      .inputBox {
        flex: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .cusForm {
          display: flex;
        }
      }
      .buttonBox {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn {
          display: flex;
          justify-content: inherit;
          align-items: inherit;
          margin-left: 10px;
          width: 120px;
        }
      }
    }
    .grid {
      width: 100%;
      height: 100%;
    }
  }
}
